.flex-container {
  
    /* We first create a flex layout context */
    display: flex;
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    
    flex-flow: row wrap;
    /*width: 600px;
    /*height: 200px;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    background-color:  blanchedalmond;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }
  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-right: auto;
    line-height: 100%;
    min-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    justify-content:center ;
    min-width: 0;
  }
  .flex-header{
    background: blue;
    padding: 5px;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-right: auto;
    line-height: 100%;
    min-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    min-width: 0;
  }
  .flex-empty{
    background: blanchedalmond;
    padding: 5px;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-right: auto;
    line-height: 100%;
    min-height: 100px;
    color: rgb(0, 0,0);
    font-weight: bold;
    font-size: 1.3vw;
    text-align: center;
    min-width: 0;
  }
  .button{
    background-color: crimson;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5% ;
    margin-left: 0.5%;
    font-size: 16px;
  }